*, *:before, *:after {
	box-sizing: border-box;
	font-family: 'Open Sans', 'open sans', sans-serif;
}

body {
	background-color: $eggshell;
	color: $darkGrey;
}

textarea, input { outline: none; }

.container {
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	position: absolute;
	overflow: hidden
}