.grid {
	div[class*='row'] {
		clear: both;
		margin: em(12px) 0;
		overflow: hidden;
		width: 100%;

		div[class*='col'] {
			display: inline-block;
			float: left;
			padding: 0 em(12px);
		}
		.col-sm { //always set two smal and one mid column in layouts
			width: 16.7%;
		}
		.col-mid {
			width: 66.6%;
		}
	}
}