.grid {
	div[class*='row'] {
		clear: both;
		height: em(42px);
		// margin: em(12px) 0;
		width: 100%;

		div[class*='col'] {
			display: inline-block;
			float: left;
			padding: 0 em(12px);
		}
		.col-sm { //always set two small and one mid column in layouts
			width: 16.7%;
		}
		.col-mid {
			position: relative;
			width: 66.6%;
		}
	}
}

@media screen and (max-width: 445px) {
	.grid {
		div[class*='row'] {
			.col-sm {
				width: 22.5%;
			}
			.col-mid {
				position: relative;
				width: 55%;
			}			
		}
	}
}