.header {
	@include padding;
	padding-bottom: 0;
	text-align: center;
	overflow: hidden;

	h1 {
		display: inline-block;
		margin: em(12px) 0;

		&:before {
			background-image: url(../img/cart-icon.svg);
		    background-repeat: no-repeat;
			content: "";
			display: block;
			margin-left: -102px;
			margin-top: -23px;
			position: absolute;
			width: em(90px, 32px);
			height: em(90px, 32px);
			z-index: 1;
		}
	}
	.categories {
		.row { //the categories are in a grid
			height: 0;
		}
		h4 { 
			margin: em(9px) 0 em(12px) 0;
		}
	}
}
.header--theme1 {
	background-color: $eggshell;
	border-bottom: $border;
	h1 {
		font-size: em(32px);
		font-weight: 300;
	}
	.categories h4 {
		font-size: em(12px);
		font-weight: 300;
		letter-spacing: em(3px, 12px);
		text-transform: uppercase;
	}
}

@media screen and (max-width: 645px) {
	.header {
		padding: em(18px) 3em 0 3em;
	}
}

@media screen and (max-width: 554px) {
	.header {
		padding: em(18px) 1em 0 1em;
	}
}

@media screen and (max-width: 445px) {
	.header {
		h1 {
			font-size: em(28px);
			margin: em(6px) 0;
			&:before {
			    margin-left: -63px;
	    		margin-top: -8px;
				width: em(60px, 32px);
				height: em(60px, 32px);
			}
		}
		.categories {
			h4 {
				font-size: em(10px);
			}
		}
	}
}

@media screen and (max-width: 370px) {
	.header {
		h1 {
			&:before {
				margin-left: -45px;
			    margin-top: 1px;
				width: em(42px, 32px);
				height: em(42px, 32px);

			}
		}
	}
}
