.list {
	padding: 2em 4.5em 0em 4.5em;

	span[class^='list__'] {
		display: inline-block;
		width: 100%;
		input {
			padding: 0;
			width: 100%;
		}
		&.list__price input { //the last input should be slightly smaller to accomodate '$' sign
			width: 88%;
			margin-left: 2px;
		}
	}
}
.list--theme1 {
	span[class^='list__'] {
		border-bottom: $border;
	}
	.list__price::first-letter {
		color: $darkGrey;
		font-size: em(12px);
		font-weight: 300;
	}
	input {
		border: none;
		font-size: em(18px);
	}
}

.is-crossed-off {
	color: $lightGreyBrown;
	font-style: italic;
	text-decoration: line-through;
}

.is-matched {
	background: $white;
	border: $border;
	border-top: none;
	box-shadow: 0 1px 3px 0 $lightGrey;
	display: none;
	list-style-type: none;
	margin: 0;
	padding: 0;
	position: absolute;
	z-index: 1;

	li {
		padding: em(4px) em(12px);
		&:hover {
			@include highlightListItem;
		}
	}
}
.is-matching-char {
	font-weight: 700;
}

.is-highlighted-li {
	@include highlightListItem;
}