.total {
	@include padding;
	padding-top: 0;
	text-align: center;

	div[class*='row'] {
		height: auto;
		margin-bottom: 0;
	}
	h4 {
		margin: 0;
	}
	.total__price {
		display: inline-block;
		padding: 0 em(12px, 27px);
	}
}

.total--theme1 {
	h4 {
		font-size: em(12px);
		font-weight: 300;
		letter-spacing: em(3px, 12px);
		text-transform: uppercase;
	}
	> div:last-child {
		text-align: right;

		.total__price {
			font-size: em(27px);
			&::first-letter {
				color: $darkGrey;
				font-size: em(12px, 27px);
				font-weight: 300;
				margin-right: 2px;
			}
		}
	}
}

@media screen and (max-width: 645px) {
	.total {
		padding: 0 3em em(18px) 3em;
	}
}

@media screen and (max-width: 554px) {
	.total {
		padding: 0 1em em(18px) 1em;
	}
}